.play_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/screen/background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: url('../../assets/images/cursor/cursor_icons_0.png'), auto;
}

.play_container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: var(--filter-tv);
    top: 0;
    z-index: 97;
    pointer-events: none;
}

.play_container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.06;
    background: var(--filter-static);
    top: 0;
    z-index: 98;
    pointer-events: none;
}

.play_content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--background-brown);
    z-index: 98;
}

.play_table_content {
    display: flex;
    width: 85%;
    height: 45% !important;
    margin-top: calc(2rem + 7vw);
    margin-bottom: calc(1rem + 6vw);
}

.play_general_actions {
    width: 25%;
}

.play_board {
    width: 50%;
}

.play_card_description {
    width: 25%;
}

.play_footer {
    display: flex;
    justify-content: center;
}

.play_player_cards {
    display: flex;
    justify-content: center;
}

.play_decks {
    position: absolute;
    display: flex;
    margin-left: calc(8rem + 50vw);
}

.play_deck_cards {
    width: calc(2rem + 4vw);
    height: auto;
    margin-left: 12vw;
    margin-right: 0.5vw;
}

.play_deck_cards_image {
    width: 100%;
    height: auto;
}

.play_deck_squirrel_cards {
    width: calc(2rem + 4vw);
    height: auto;
    margin-right: 8vw;
}

.play_deck_squirrel_cards_image {
    width: 100%;
    height: auto;
}