.play_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/screen/background_play.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: url('../../assets/images/cursor/cursor_icons_0.png'), auto;
    filter: sepia(10%) contrast(150%) brightness(100%);
}

.play_container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 100;
    animation: glowAnimation 1s infinite alternate ease;
}

@keyframes glowAnimation {
    0% {
        background: radial-gradient(circle at 55% center, rgba(255, 130, 0, 0.2) 0%, rgba(255, 130, 0, 0.2) 40%, rgba(0, 0, 0, 1) 98%);
    }
    50% {
        background: radial-gradient(circle at 55% center, rgba(255, 130, 0, 0.2) 0%, rgba(255, 130, 0, 0.2) 40%, rgba(0, 0, 0, 1) 99%);
    }
    100% {
        background: radial-gradient(circle at 55% center, rgba(255, 140, 0, 0.2) 0%, rgba(255, 140, 0, 0.2) 40%, rgba(0, 0, 0, 1) 100%);
    }
}

.play_container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    pointer-events: none;
    background:
        radial-gradient(circle, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 100%),
        var(--filter-tv),
        var(--filter-static);
    opacity: 0.1;
}

.play_header {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 99;
    margin-bottom: 7%;
}

.play_content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--background-brown);
    z-index: 98;
    overflow-y: hidden;
}

.play_table_content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86%;
    height: 45%;
    margin-bottom: calc(5rem + 12vh);
    margin-top: calc(1rem + 12vh);
}

.play_general_actions {
    width: 25%;
}

/* .play_scale {
    position: absolute;
    width: 16.1%;
    height: 30%;
    top: 80%;
    left: 10%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.play_scale_points {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.play_scale_enemy_points {
    width: 50%;
    color: white;
    font-family: 'Marksman Regular';
}

.play_scale_enemy_points_text {
    position: relative;
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding-right: 40%;
}

.play_scale_player_points {
    width: 50%;
    color: white;
    font-family: 'Marksman Regular';
}

.play_scale_player_points_text {
    position: relative;
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding-left: 40%;
}

.play_plus_test,
.play_minus_test {
    cursor: url('../../assets/images/cursor/cursor_icons_2.png'), auto !important;
    position: absolute;
    width: 5%;
    top: 70%;
}

.play_plus_test {
    left: 20%;
}

.play_minus_test {
    left: 10%;
} */

.play_board {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: fit-content;
}

.play_player_cards_container, .play_enemy_cards_container, .play_enemy_upcoming_cards_container {
    display: flex;
}

.play_card_description {
    width: 25%;
}

.play_footer {
    display: flex;
    justify-content: center;
    margin-bottom: calc(2rem + 5vh);
}

.play_player_cards {
    display: flex;
    justify-content: center;
}

.play_decks {
    position: absolute;
    display: flex;
    margin-left: calc(8rem + 50vw);
    z-index: -1;
}

.play_deck_cards {
    margin-left: 12vw;
    margin-right: 0.5vw;
}

.play_deck_cards_image {
    width: 7rem;
    height: auto;
}

.play_deck_squirrel_cards_image {
    width: 7rem;
    height: auto;
}

.play_player_cards, .play_deck_cards, .play_deck_squirrel_cards {
    cursor: url('../../assets/images/cursor/cursor_icons_2.png'), auto !important;
}

.play_enemy_input_card {
    width: 6.88vw;
    height: 9vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
