.play_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/screen/background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: url('../../assets/images/cursor/cursor_icons_0.png'), auto;
}

.play_container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: var(--filter-tv);
    top: 0;
    z-index: 97;
    pointer-events: none;
}

.play_container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.06;
    background: var(--filter-static);
    top: 0;
    z-index: 98;
    pointer-events: none;
}

.play_header {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 99;
    margin-bottom: 7%;
}

.play_content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--background-brown);
    z-index: 98;
    overflow-y: hidden;
}

.play_table_content {
    display: flex;
    width: 86%;
    height: 45% !important;
    margin-top: calc(0.5rem + 6vh);
}

.play_general_actions {
    width: 25%;
}

.play_scale {
    position: absolute;
    width: 16.1%;
    height: 30%;
    top: 80%;
    left: 10%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.play_scale_points {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.play_scale_enemy_points {
    width: 50%;
    color: white;
    font-family: 'Marksman Regular';
}

.play_scale_enemy_points_text {
    position: relative;
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding-right: 40%;
}

.play_scale_player_points {
    width: 50%;
    color: white;
    font-family: 'Marksman Regular';
}

.play_scale_player_points_text {
    position: relative;
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding-left: 40%;
}

.play_plus_test,
.play_minus_test {
    cursor: url('../../assets/images/cursor/cursor_icons_2.png'), auto !important;
    position: absolute;
    width: 5%;
    top: 70%;
}

.play_plus_test {
    left: 20%;
}

.play_minus_test {
    left: 10%;
}

.play_board {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: fit-content;
}

.play_player_cards_container, .play_enemy_cards_container, .play_enemy_upcoming_cards_container {
    display: flex;
}

.play_card_description {
    width: 25%;
}

.play_footer {
    display: flex;
    justify-content: center;
    margin-top: calc(5rem + 12vh);
    margin-bottom: calc(2rem + 5vh);
}

.play_player_cards {
    display: flex;
    justify-content: center;
}

.play_decks {
    position: absolute;
    display: flex;
    margin-left: calc(8rem + 50vw);
    z-index: -1;
}

.play_deck_cards {
    width: calc(2rem + 4vw);
    height: auto;
    margin-left: 12vw;
    margin-right: 0.5vw;
}

.play_deck_cards_image {
    width: 100%;
    height: auto;
}

.play_deck_squirrel_cards {
    width: calc(2rem + 4vw);
    height: auto;
    margin-right: 8vw;
}

.play_deck_squirrel_cards_image {
    width: 100%;
    height: auto;
}

.play_player_cards, .play_deck_cards, .play_deck_squirrel_cards {
    cursor: url('../../assets/images/cursor/cursor_icons_2.png'), auto !important;
}

.play_enemy_input_card, .play_enemy_inverted_input_card {
    width: 7.64vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play_enemy_inverted_input_card {
    transform: rotateX(180deg);
}
