.main_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--background-brown);
    overflow: hidden;
    cursor: url('../../assets/images/cursor/cursor_icons_0.png'), auto;
}

.main_blue_background {
    background: var(--background-blue);
}

.main_container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: var(--filter-tv);
    top: 0;
    z-index: 97;
    pointer-events: none;
}

.main_container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.08;
    background: var(--filter-static);
    top: 0;
    z-index: 98;
    pointer-events: none;
}

.main_title_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_title_image_spade_left_animation,
#main_title_image_spade_right_animation,
#main_title_image_animation,
#main_press_to_start_text_animation {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.main_title_image {
    height: auto;
    width: 60%;
}

#main_title_image_animation {
    opacity: 0;
}

.main_title_image_spade_left {
    margin-right: 3rem;
    margin-bottom: 3%;
    height: 15%;
    width: auto;
}

#main_title_image_spade_left_animation {
    transform: translateX(-100%);
}

.main_title_image_spade_right {
    margin-left: 3rem;
    margin-bottom: 3%;
    height: 15%;
    width: auto;
    transform: rotateY(180deg);
}

#main_title_image_spade_right_animation {
    transform: rotateY(180deg) translateX(-100%);
}

.main_press_to_start_text {
    font-family: 'Marksman Regular';
    font-size: 3vw;
    margin-top: 2vh;
    animation: colorChange 2s step-end infinite;
}

.main_press_to_start_text_fast {
    animation: colorChangeClicked 0.4s step-end infinite;
}

#main_press_to_start_text_animation {
    opacity: 0;
}

.menu_card_new_game_image_glitch {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 99;
    background-size: contain;
    pointer-events: none;
}

@keyframes colorChange {
    0% {
        color: var(--black);
    }

    50% {
        color: var(--black-transparent);
    }

    100% {
        color: var(--black);
    }
}

@keyframes colorChangeClicked {
    0% {
        color: var(--black);
    }

    50% {
        color: var(--black-transparent-clicked);
    }

    100% {
        color: var(--black);
    }
}