.modal_options_card_container {
    font-family: Marksman Regular;
    pointer-events: none;
    animation: slideInFromRight 1s ease-in-out;
    cursor: url('../../assets/images/cursor/cursor_icons_0.png'), auto;
    z-index: 10 !important;
}

.modal_options_container_dialog {
    background-color: var(--background-yellow) !important;
    border-radius: 0 !important;
}

.modal_options_card_language_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
}

.modal_options_card_button {
    cursor: url('../../assets/images/cursor/cursor_icons_2.png'), auto;
    width: 5vw;
}

.modal_options_card_language_chosen {
    font-size: 1.5rem;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}