.modal_options_card_container {
    font-family: Marksman Regular;
    pointer-events: none;
    animation: slideInFromRight 1s ease-in-out;
    cursor: url('../../assets/images/cursor/cursor_icons_0.png'), auto;
    z-index: 10 !important;
}

.modal_options_container_dialog {
    width: 40vw !important;
    height: auto;
    min-width: min-content;
    display: flex;
    justify-content: stretch !important;
    height: auto;
    background-color: var(--background-yellow) !important;
    border: 5px solid var(--black) !important;
    border-bottom: 15px solid var(--black) !important;
    border-radius: 0 !important;
    padding: 2vw;
}

.modal-dialog-centered {
    justify-content: center;
}

.modal_options_card_language_container_options, .modal_options_card_language_container_options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 3rem;
}

.modal_options_card_language_text {
    width: calc(0.8rem + 2vw);
    height: auto;
    margin: 2%;
}

.modal_options_card_main_volume_text {
    font-size: calc(0.5rem + 3vw);
    color: var(--black);
    margin: 2%;
}

.modal_options_card_button, .modal_options_card_button_inverted {
    cursor: url('../../assets/images/cursor/cursor_icons_2.png'), auto;
    width: 6vw;
    height: auto;
}

.modal_options_card_button_inverted {
    transform: rotateY(180deg);
}

.modal_options_card_language_chosen {
    font-size: calc(0.5rem + 3vw);
    color: var(--black);
}

.modal_options_card_volume_options {
    display: flex;
    justify-content: center;
    align-self: center;
}

.modal_options_card_volume_icon {
    width: 3vw;
    height: auto;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}