.modal_options_card_container {
    font-family: Marksman Regular;
    pointer-events: none;
    animation: slideInFromRight 1s ease-in-out;
}

.modal_options_card_language_container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.modal_options_card_button {
    /* background-color: var(); */
}

.modal_options_card_language_chosen {
    font-size: 1.5rem;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}