.draggable_card_play_container {
    width: calc(2rem + 3vw);
    height: auto;
    position: relative;
}

.draggable_card_play_image {
    width: 100%;
    height: auto;
}

.draggable_card_play_container_hovered {
    width: calc(2rem + 4vw);
    height: auto;
    position: relative;
    z-index: 10;
    cursor: url('../../assets/images/cursor/cursor_icons_2.png'), auto !important;
}

.draggable_card_play_on_click_card_mouse {
    cursor: url('../../assets/images/cursor/cursor_icons_3.png'), auto !important;
}

.draggable_card_play_header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.draggable_card_play_footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.draggable_card_play_power, .draggable_card_play_health, .draggable_card_play_name {
    position: absolute;
    color: var(--black);
}

.draggable_card_play_name {
    top: 1%;
}

.draggable_card_play_power {
    left: 10%;
    bottom: 6%;
}

.draggable_card_play_health {
    right: 10%;
    bottom: 9%;
}