.draggable_card_play_container {
    width: calc(2rem + 4vw);
    height: auto;
}

.draggable_card_play_image {
    width: 100%;
    height: auto;
}

.draggable_card_play_container_hovered {
    width: calc(3rem + 4vw);
    height: auto;
    z-index: 10;
}