.inventory_container {
    margin-top: 1%;
}

.inventory_cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inventory_cards_first_layer {
    display: flex;
    justify-content: center;
}

.inventory_cards_second_layer {
    display: flex;
    justify-content: center;
}