.draggable_menu_cards {
    width: 8.48vw;
    height: 11.28vw;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#draggable_menu_new_game_card {
    background: url('../../assets/images/menu/cards/newgame_greyed.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
}

#draggable_menu_continue_card {
    background: url('../../assets/images/menu/cards/continue.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#draggable_menu_options_card {
    background: url('../../assets/images/menu/cards/options.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.draggable_menu_on_hover_card_mouse {
    cursor: url('../../assets/images/cursor/cursor_icons_2.png'), auto !important;
}

.draggable_menu_on_click_card_mouse {
    cursor: url('../../assets/images/cursor/cursor_icons_3.png'), auto !important;
}