.draggable_menu_cards {
    width: 8.48vw;
    height: 11.28vw;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#draggable_menu_new_game_card {
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
}

#draggable_menu_continue_card {
    background: url('../../assets/images/menu/cards/continue.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#draggable_menu_options_card {
    background: url('../../assets/images/menu/cards/options.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.menu_options_animation_new_game {
    animation: glitchAnimation 6s infinite;

}

.draggable_menu_on_hover_card_mouse {
    cursor: url('../../assets/images/cursor/cursor_icons_2.png'), auto !important;
}

.draggable_menu_on_click_card_mouse {
    cursor: url('../../assets/images/cursor/cursor_icons_3.png'), auto !important;
}

@keyframes glitchAnimation {
    /* 0% {
        content: url('../../assets/images/menu/cards/glitch_new_game_1.png');
    }

    2% {
        content: '';
    }

    40% {
        content: url('../../assets/images/menu/cards/glitch_new_game_2.png');
    }

    45% {
        content: '';
    }

    80% {
        content: url('../../assets/images/menu/cards/glitch_new_game_3.png');
    }

    100% {
        content:'';
    } */
}