.card_register {
    margin-left: 5rem;
    margin-right: 5rem;
    min-width: 40rem !important;
}

#card_register_button {
    background-color: #572007 !important;
    color: #bb7c39 !important;
    border: none !important;
}

#card_register_button:hover {
    background-color: #220d03 !important;
    color: #6e4e2c !important;
}