.draggable_card_play_container {
    width: 7rem;
    height: auto;
    position: relative;
    transition: none;
}

.draggable_card_play_image {
    width: 100%;
    height: auto;
}

.draggable_card_play_container_active {
    width: 8rem;
    height: auto;
    position: relative;
    z-index: 10;
    cursor: url('../../../assets/images/cursor/cursor_icons_2.png'), auto !important;
}

.draggable_card_play.no-margin {
    margin-left: calc(-0.25rem - 0.4vw) !important;
}

.draggable_card_play_on_click_card_mouse {
    cursor: url('../../../assets/images/cursor/cursor_icons_3.png'), auto !important;
}

.draggable_card_play_header {
    width: 100%;
    height: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../../assets/images/card/header/header.png");
    background-size: cover;
}

.draggable_card_play_footer {
    width: 100%;
    height: 3.34rem;
    display: flex;
    justify-content: space-between;
    background: url("../../../assets/images/card/footer/footer.png");
    background-size: cover;
}

.draggable_card_play_footer_active {
    height: 3.82rem;
}

.draggable_card_play_name,
.draggable_card_play_power,
.draggable_card_play_health {
    color: var(--black);
}

.draggable_card_play_name {
    display: flex;
    align-self: center;
    padding-top: 10px;
}

.draggable_card_play_power {
    margin-left: 15px;
    margin-top: 15px;
}

.draggable_card_play_health {
    margin-right: 15px;
    margin-top: 15px;
}