.menu_card_new_game_images_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.menu_card_new_game_image {
    display: block;
    width: 100%;
    height: auto;
}

.menu_card_new_game_image_blur {
    filter: blur(2px);
}
