#droppable_menu_input_card {
    width: 9.75vw;
    height: 12.75vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.droppable_menu_input_card_with_top_card {
    animation: leftChangeDropped 0.5s linear;
    margin-left: -40vw;
}

@keyframes leftChangeDropped {
    0% {
        margin-left: -5vw;
    }

    50% {
        margin-left: -30vw;
    }

    100% {
        margin-left: -40vw;
    }
}