#droppable_menu_input_card {
    width: 9.75vw;
    height: 12.75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../assets/images/menu/cards/slot.png');
    background-size: contain;
    background-repeat: no-repeat;
}