.cardAndSearch {
    margin-top: 2rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal_one_card {
    margin: 2rem;
    min-width: 32rem;
}

#show_one_card_submit {
    color:#bb7c39;;
}

#show_one_card_submit:hover {
    color: #a5a5a5;
    transition: 0.3s;
}

.card_one_card {
    background-size: cover;
    height: 24rem;
    width: 16rem;
    border: none;
    margin: 1rem;
    color: black;
}

h1 {
    font-size: 3.7rem !important;
}

.header_one_card {
    margin-top: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_one_card {
    margin: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 12rem;
    display: flex;
    justify-content: space-between;
}

#power_one_card {
    margin-top: 2.5rem;
    margin-right: 3rem;
}

#health_one_card {
    margin-top: 4rem;
}

#test_image_input {
    min-width: 20rem;
}

.modal-content {
    min-width: 32rem;
}

.button_show_one_card {
    padding-left: 1rem;
    padding-right: 1rem;
}