@font-face {
    font-family: 'Heavyweight Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Heavyweight Regular'), url('assets/fonts/HEAVYWEI.woff') format('woff');
}

@font-face {
    font-family: 'Marksman Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Marksman Regular'), url('assets/fonts/Marksman.woff') format('woff');
}

* {
    font-family: 'Heavyweight Regular';
    font-size: 1.1rem;
}

#root {
    height: 100%;
    width: 100%;
}