.title, .delete_account, .exit_account, .play {
    font-size: 1.5rem !important;
    padding: 0.5rem;
    cursor: context-menu;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}

.play {
    cursor: pointer;
}

.login {
    font-size: 1.5rem !important;
    color: #bb7c39 !important;
}

.dropdown button, a.nav-link, .delete_account, .exit_account, .play {
    font-size: 1.5rem !important;
    background-color: transparent !important;
    border: none !important;
    color: white;
}

.dropdown button:hover, a.nav-link:hover, .delete_account:hover, .exit_account:hover, .play:hover {
    color: rgb(165, 165, 165) !important;
    background-color: transparent !important;
}

#nav {
    background-image:
    linear-gradient(to right, transparent, black),
    url(../../assets/images/others/navbar_background.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 2rem;
    display: flex;
    align-items: center;
    min-width: 70rem;
}

.dropdown button, a.nav-link, .delete_account, .exit_account, .play {
    color: #bb7c39;
    border: none !important;
}

.title {
    color: #e18234 !important;
}