:root {
    --filter-tv: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 3px, transparent 3px, transparent 8px);
    --background-brown: radial-gradient(circle, rgba(115,69,48,1) 0%, rgba(0,0,0,1) 100%);
    --black: #121212;
    --black-transparent: #12121299;
    --black-transparent-clicked: #12121266;
}