.game {
    width: 100vw;
    height: 100vh;
    border-radius: 15rem;
    position: absolute;
}

.main_game {
    border-top-left-radius: 15rem;
    border-top-right-radius: 15rem;
    width: 100%;
    height: 60%;
    border-bottom: solid #fea02a 5px;
}

.footer_game {
    width: 100%;
    height: 40%;
    background: url("/public/images/others/game_background.jpg");
    background-size: 15rem;
    border-top: solid 4px black;
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
}

.card_play {
    position: relative;
    background-size: cover;
    height: 13rem !important;
    width: 8.5rem;
    border: none;
    color: black;
    cursor: pointer;
}

.card_play:hover {
    z-index: 100;
    margin-top: -3rem !important;
    height: 16rem !important;
    width: 10.5rem; 
    transition: 0.2s;
}

.header_play {
    margin-top: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name_play {
    margin-top: 0.4rem;
}

.card_play:hover .name_play {
    transition: 0.2s;
    margin-top: 0.5rem !important;
}

.footer_play {
    margin: -0.5rem;
    margin-right: 1.5rem;
    margin-top: 11rem;
    display: flex;
    justify-content: space-between;
}

.card_play:hover .footer_play {
    transition: 0.2s;
    margin: -0.4rem !important;
    margin-right: 1.2rem !important;
    margin-top: 13.5rem !important;
}

#power_play {
    margin-top: -3.5rem;
    margin-left: 1.5rem;
    margin-right: 5rem;
}

#health_play {
    margin-top: -2.5rem;
}

.h1_play {
    font-size: 2rem !important;
}

.deck {
    height: 13rem !important;
    min-width: 8.5rem;
    background: url("/public/images/others/backcard.png");
    background-repeat: no-repeat;
    background-size: 7.7em;
    margin: 1rem;
    position: absolute;
    right: 0;
}

.cards_deck {
    display: none;
}